<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Server=tcp:firstdevop.database.windows.net,1433;Initial Catalog=firstdevop;Persist Security Info=False;User ID=eidba;Password=123456a@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=intefirstdevopha;AccountKey=kmSwuABOL5Gxuw2GNRsAeO6afZr+otq38dkj/0OTbNfdlU1kfcAUJViKd9OzVnnVjwV+4G2FzwTIjzGrVqghQg==;EndpointSuffix=core.windows.net" />
  <add name="EPiServerAzureEvents" connectionString="Endpoint=sb://intefirstdevopha.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=F3dX1tQ5gWb+7I8bcbzyfh2ahsxryvOo4iB0QNuVaqg=" />
</connectionStrings>